<h1 class="my-4 mx-5 text-center"><%= @user.username %>'s Profile</h1>
<%= gravatar_for @user, size: 200 %>
<h3 class="mt-4 text-center"><%= @user.username %>'s Articles</h3>
<div class="container">
  <%= render 'articles/article' %>
</div>