<div class="home-background">
  <h1 class="home-header">Introducing <br> Sigma Blog</h1>
  <br>
  <p class="home-paragraph">
    Your resource for the latest thoughts from the greatest minds.
  </p>
  <br>
  <%= link_to "Sign Up", signup_path, class: "btn btn-success btn-lg home-button" %>
  <%= link_to "Explore Articles", articles_path, class: "btn home-button explore" %>
</div>