<div class="home-background">
  <h1 class="home-header">Introducing <br> Sigma Blog</h1>
  <br>
  <p class="home-paragraph">
    Your resource for the latest thoughts from the greatest minds.
  </p>
  <br>
  <button class="btn btn-success btn-lg home-button">Sign Up</button>
  <button class="home-button explore">
    <a style="color:rgb(85, 85, 85); text-decoration:none;"
      >Explore Articles
    </a>
  </button>
</div>