@import "bootstrap/dist/css/bootstrap";

$homeImagePath: "https://images.pexels.com/photos/372748/pexels-photo-372748.jpeg";

.home-background {
  padding: 5% 2%;
  background-size: 100% 100%;
  background-image: url($homeImagePath);
  // height: 100%;
  // width: 100%;
  overflow: hidden;
}
.home-header {
  color: white;
  font-size: 10vw;
}
.home-paragraph {
  color: white;
  font-size: 1.1vw;
}
.home-button {
  display: block;
  width: 25%;
  padding: 1% 0%;
  font-size: 2rem;
  margin: 0.5% 0%;
}

.explore {
  color: rgb(85, 85, 85);
  background-color: rgb(236, 236, 236);
  border: 1px solid rgb(187, 187, 187);
  opacity: 90%;
}

@media screen and (max-width: 1170px) {
  .home-background {
    padding: 5% 5%;
    background-size: 100% 100%;
    background-image: url($homeImagePath);
    height: 91vh;
    width: 100%;
  }
  .home-header {
    color: white;
    font-size: 10vw;
  }
  .home-paragraph {
    color: white;
    font-size: 3vw;
    text-align: left;
    margin: 0 0 10% 0;
    width: 90%;
  }
  .home-button {
    display: block;
    width: 50%;
    padding: 3% 0%;
    font-size: 2rem;
    margin: 5% 0%;
  }
  .explore {
    color: rgb(85, 85, 85);
    background-color: rgb(236, 236, 236);
    border: 1px solid rgb(187, 187, 187);
    opacity: 95%;
  }
}

@media (max-height: 750px) and (max-width: 1024px) {
  .home-background {
    background-size: 100% 100%;
    background-image: url($homeImagePath);
    height: 90vh;
    width: 100%;
  }
  .home-header {
    color: white;
    font-size: 7vw;
    text-align: left;
    margin: 0 0 2% 0;
  }
  .home-paragraph {
    color: white;
    font-size: 2vw;
    text-align: left;
    margin: 0 0 5% 0;
  }
  .home-button {
    display: block;
    width: 100%;
    padding: 3% 0%;
    font-size: 2rem;
    margin: 5% 0%;
  }
  .explore {
    color: rgb(85, 85, 85);
    background-color: rgb(236, 236, 236);
    border: 1px solid rgb(187, 187, 187);
    opacity: 95%;
  }
}

@media screen and (max-width: 970px) {
  .home-background {
    padding: 5% 5%;
    background-size: 100% 100%;
    background-image: url($homeImagePath);
    height: 90vh;
    width: 100%;
  }
  .home-header {
    color: white;
    font-size: 10vw;
  }
  .home-paragraph {
    color: white;
    font-size: 3vw;
    text-align: left;
    margin: 0 0 10% 0;
    width: 90%;
  }
  .home-button {
    display: block;
    width: 50%;
    padding: 3% 0%;
    font-size: 2rem;
    margin: 5% 0%;
  }
  .explore {
    color: rgb(85, 85, 85);
    background-color: rgb(236, 236, 236);
    border: 1px solid rgb(187, 187, 187);
    opacity: 95%;
  }
}

@media screen and (max-width: 750px) and (max-height: 1024px) {
  .home-background {
    padding: 10% 5%;
    background-size: 100% 100%;
    background-image: url($homeImagePath);
    height: 95vh;
    width: 100%;
  }
  .home-header {
    color: white;
    font-size: 10vw;
    text-align: center;
    margin: 0 0 10% 0;
  }
  .home-paragraph {
    color: white;
    font-size: 5vw;
    text-align: center;
    margin: 0 0 20% 0;
  }
  .home-button {
    display: block;
    width: 100%;
    padding: 3% 0%;
    font-size: 2rem;
    margin: 5% 0%;
  }
  .explore {
    color: rgb(85, 85, 85);
    background-color: rgb(236, 236, 236);
    border: 1px solid rgb(187, 187, 187);
    opacity: 95%;
  }
}