<h1 class="my-4 mx-5">Edit Category Name</h1>

<div class="row d-flex justify-content-center">
<div class="col-10">

<%= render 'form' %>
  <div class="mb-3">
    <%= link_to "Cancel and return to category", category_path(@category), class: "text-center mb-2" %>
  </div>
</div>
</div>