<h1 class="my-4 mx-5">New Category</h1>

<div class="row d-flex justify-content-center">
<div class="col-10">

<%= render 'form' %>
  <div class="mb-3">
    <%= link_to "Cancel and return to categories", categories_path, class: "text-center mb-2" %>
  </div>
</div>
</div>